﻿  @font-face {
            font-family: RobotoLightFont;
            src: url(Roboto-Light.ttf);
        }

        @font-face {
            font-family: RobotoBoldFont;
            src: url(RobotoCondensed-Bold.ttf);
        }

        @font-face {
            font-family: RobotoFont;
            src: url(Roboto-Regular.ttf);
        }

        @font-face {
            font-family: RobotoItalicFont;
            src: url(Roboto-Italic.ttf);
        }

        .row {
            width: 100%;
            text-align: center;
            /*margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;*/
            /* border: 1px dotted red; */
            height: 5.45cm;
            margin: auto;
        }
        .card {
            display: inline-block;
            width: 9cm;
            height: 5cm;
            border: 1px dotted gray;
            padding-left: 0.45cm;
            padding-right: 0.45cm;
            padding-bottom: 0.45cm; 
            vertical-align: top;    
        }
        .top {
            border-bottom: 1px solid gray;
            width: 100%;
            height: 0.8cm;
        }
        .color-bar-left {
            display: inline-block;
            background-color: #00B0FF;
            width: 0.45cm;
            height: 0.8cm;
            float: left;
        }
        .color-bar-right {
            display: inline-block;
            background-color: #00B0FF;
            width: 0.45cm;
            height: 0.8cm;
            float: right;
        }
        .top-text {
            font-size: 0.3cm;
            display: inline-block;
            float:left;
            padding-top: 0.2cm;
            padding-left: 0.15cm;
            font-family: RobotoItalicFont;
        }
        .top-logo {
            display: inline-block;
            padding-top: 0.2cm;
            height: 0.5cm;
            width: 2.1cm;
            opacity: 0.6;
            float: right;
        }
        .word {
            /*border: 1px solid red;*/
            height: 1.875cm;
            width: 100%;
            font-family: RobotoLightFont;
            font-size: 1.0cm;
            text-align:center;
            padding-top: 0.3cm;
        }
        .quotes {
            /*border: 1px solid green;*/
            height: 1.875cm;
            width: 100%;
            font-family: RobotoItalicFont;
            font-size: 0.3cm;
            text-align:left;
        }
        .translation {
            /*border: 1px solid red;*/
            height: 0.8cm;
            width: 100%;
            font-family: RobotoLightFont;
            font-size: 0.5cm;
            text-align: center;
            padding-top: 0.1cm;
        }
        /*workaround https://github.com/wkhtmltopdf/wkhtmltopdf/issues/1872 */
        .definitions {
            /*border: 1px solid green;*/
            height: 3.3cm;
            width: 50%;
            -webkit-columns: 0 0;
            -webkit-column-gap: 1em;
            text-align: justify; 

        }
        .definition-title {
             font-family: RobotoBoldFont;
             font-size: 0.25cm;
             padding-top: 0.1cm;
             /*border: 1px solid red;*/
        }
        .definition-translation {
             font-family: RobotoLightFont;
             font-size: 0.25cm;
             height: auto;
             /*border: 1px solid blue;*/
        }
        .definition {
             padding-right: 0cm;
             padding-bottom: 0.1cm;
             /*border: 1px solid black;*/
             height: auto;
        }
        .tab {
            margin: 0;
            padding-left: 0.1cm;
            list-style-position: inside;
            padding-right: 0cm;
        }
        .break { page-break-after: always; }
body
{
}