﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <a>{% for page in cards %}{% for card in cards[page] %}{% if card%2 == 0 %}<div class="row">{% endif %}<div class="card">
            <div class="top">
                <div class="color-bar-left"></div>
                <div class="top-text">{{ cards[page][card].movie }}</div>
                <img class="top-logo" src="logo.png" />
            </div>
            <div class="word">
                {{ cards[page][card].word }}
            </div>
            <div class="quotes">
                {% for quote in cards[page][card].quotes %}
                    {{ quote }}<br />
                {% endfor %}
            </div>
        </div>{% if card%2 == 1 %}</div>{% endif %}{% endfor %}<div class="break"></div></a>
     <a>{% for card in cards[page] %}{% if card%2 == 0 %}<div class="row">{% endif %}<div class="card">
        <div class="top">
                <div class="color-bar-right"></div>
            </div>
            <div class="translation">
                {{ cards[page][card].translation }}
           </div>
           <div class="definitions">
               <div class="definition">{% for definition in cards[page][card].definitions%}
                   <div class="definition-title">
                      {{ definition[0] }}
                   </div>
                   <div class="definition-translation">
                       <ul class="tab">{% for j in range(definition[1]|length) %}
                        <li>{{ definition[1][j] }}</li>{% endfor %}
                       </ul>
                   </div>{% endfor %}
               </div>
            </div>
          </div>{% if card%2 == 1 %}</div>{% endif %}{% endfor %}<div class="break"></div></a>{% endfor %}
</body>
</html>
